
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutUsView</title>
</head>
<body>
    <div> 
        <p>
            This website is currently under development by SzL, with assistance from MML the Great.
        </p>
    </div>
</body>
</html>
