
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ErrorView</title>
</head>
<body>
    <div>
        <h1>Failure</h1>
    </div>
</body>
</html>
