@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Dictionary = (Dictionary<int, List<Games.SharedModels.ViewModel.GameViewModels.GameViewModel>>)ViewBag.Games;
}
<div style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRd04em4kRANRLhZtGzDKJtutgxh23SgGWvEQ&usqp=CAU'); ">
    @foreach (var group in Dictionary)
    {
        <div class="card-deck">
            @foreach (var game in group.Value)
            {
                @Html.Partial("_GameInfoPartialView", game)
            }
        </div>
        <hr />
    }


</div>







