@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Dictionary = (Dictionary<int, List<Games.SharedModels.ViewModel.GameViewModels.GameViewModel>>)ViewBag.Games;
}
<div style="background-image: linear-gradient(to right, white, black)">
    @foreach (var group in Dictionary)
    {
        <div class="card-deck">
            @foreach (var game in group.Value)
            {
                @Html.Partial("_GameInfoPartialView", game)
            }
        </div>
        <hr />
    }


</div>







